extends ../layout

block content
    br
    a(href='/usuarios/create') Nuevo usuario
    br

    table.table
        thead
            tr
                th(scope='col') ID
                th(scope='col') Nombre
                th(scope='col') Email
                th(scope='col') Verificado
                th(scope='col') 
                th(scope='col') 
                //- th(scope='col') Validated
        tbody
            each usuario in usuarios
                tr
                    td(scope='row')
                        = usuario._id
                    td= usuario.name
                    td= usuario.email
                    td= usuario.validated ? 'SI': 'NO'
                    td
                        form.inline(method='post' action='usuarios/' + usuario._id + '/delete')
                            input(type='hidden' name='id' value=usuario._id)
                            button.link-button(type='submit' name='submit_param' value='submit_value' class='btn')
                                = 'Eliminar'
                    td
                        a(href='usuarios/' + usuario._id + '/update' class='btn') Editar