extends ../layout

block content
    a(href='/usuarios') Volver

    br
    br
    br

    h1 Editar Usuario

    br
    br

    form(action='/usuarios/' + usuario.id + '/update' method='post')
        .form-group
            label(for='name') Nombre:
            input#name.form-control(type='text' name='name' value=usuario.name class=errors.name ? 'is-invalid' : '')
            if errors.name
                small#nameHelp.text-danger
                    = errors.name.message
        
        br
        br
        input(type='submit' value='Submit')