extends ../layout

block content
    a(href='/usuarios') Volver

    br
    br
    br

    h1 Login

    br
    br

    form#Login(action='/api/session/login' method='post')
        .form-group
            if info
                label#nameHelp.text-danger
                    = info.message
        br
        .form-group
            label(for='username') Email:
            input#name.form-control(type='username' name='username' placeholder='Email Address'  class=info ? 'is-invalid' : '')
            
        br
        .form-group
            label(for='password') Password:
            input#name.form-control(type='password' name='password' placeholder='password'  class=info ? 'is-invalid' : '')

        br
        input(type='submit' value='Login')