extends ../layout

block content
    a(href='/') Volver

    br
    br
    br

    h1 Reset password

    br
    br

    form(action='/login' method='post')
        label(for='email') Email:
        input#email(type='text' name='email')
        br
        label(for='password') Password:
        input#password(type='text' name='password')
        br
        input(type='submit' value='Submit')